<ion-header collapse="fade">
  <ion-toolbar>
    <ion-title>Perfiles</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--Datos Perfil-->
  <app-datos [user_target_id]="user_target_id"></app-datos>
  <!--Publicaciones-->
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let publicacion of Publicaciones" size="4" class="publicaciones">
        <div [routerLink]="['/publicacion',publicacion.key,publicacion.value.usuario]">
          <img [src]="imagenes[publicacion.key]">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
