#grid-ext {
  width: 95%;
}

ion-input {
  border-bottom: 1px #cbcbcb solid;
}

.centrador {
  position: absolute;
  top: 2rem;
  width: 100%;
}
#mod-foto ion-avatar {
  margin: 0 auto;
  width: 5rem;
  height: 5rem;
}
#overlay {
  margin: 0 auto;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  opacity: 40%;
}
#overlay:hover {
  opacity: 50%;
  cursor: pointer;
}
//Formato foto de perfil
#contenedor {
  display: flex;
  vertical-align: middle;
}
#outline {
  min-width: fit-content;
  display: inline-block;
  align-items: center;
  padding: 0.2rem;
  background-image: linear-gradient(
    0deg,
    rgba(222, 0, 70, 1) 0%,
    rgba(247, 163, 75, 1) 100%
  );
  border-radius: 50%;
}
ion-avatar {
  width: 6rem;
  height: 6rem;
}

#foto-perfil {
  vertical-align: middle;
  border-radius: 50%;
  border: solid 0.2rem;
  border-color: var(--ion-color-light);
}

/*Datos*/
.c1 {
  display: flex;
  text-align: center;
  align-items: center;
}

.c1 div {
  width: 100%;
}

/*botón*/
.boton {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  border: 1px #cbcbcb solid;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.boton div {
  padding: 0.5rem;
  font-weight: 700;
}

@media (max-width: 500px) {
  .c1 div p{
    font-size: 0.5rem;
  }
}